<mat-toolbar class="app-toolbar" color="primary">
  <button mat-button routerLink="/">
    <mat-icon>home</mat-icon>
  </button>
  <div fxLayout="row" fxShow="false" fxShow.gt-sm>
    <button mat-button routerLink="/categories">
      <mat-icon>category</mat-icon>
      Categories
    </button>
    <button mat-button routerLink="/users" *ngIf="authenticationService.currentUser">
      <mat-icon>people</mat-icon>
      Users
    </button>
  </div>
  <span class="fill-remaining-space" fxHide="false" fxHide.gt-sm></span>
  <span class="current-user-name" *ngIf="!authenticationService.currentUser">Vendég</span>
  <span class="current-user-name" *ngIf="authenticationService.currentUser">{{authenticationService.currentUser.firstName}}</span>
  <button mat-icon-button [matMenuTriggerFor]="menu" fxHide="false" fxHide.gt-sm>
    &nbsp;<mat-icon>menu</mat-icon>
  </button>
</mat-toolbar>

<mat-menu xPosition="after" #menu="matMenu">
  <button mat-menu-item *ngIf="!authenticationService.currentUser" (click)="login()"><mat-icon>face</mat-icon>Sign in</button>
  <button mat-menu-item *ngIf="authenticationService.currentUser" (click)="logout()"><mat-icon>exit_to_app</mat-icon>Sign out</button>
  <button mat-menu-item *ngIf="!authenticationService.currentUser" (click)="register()"><mat-icon>add_circle_outline</mat-icon>Sign up</button>
</mat-menu>
