[class*="edit-category-dialog"] {
    width: 100%;
}

@media only screen and (min-width: 768px) {
    /* For desktop: */
    .edit-category-dialog {width: 40vw;}
}

.edit-category-data {
    width: 100%;
    margin: 5px 0px;
}