<div class="row">
    <div class="container edit-category-dialog">
      <h1 mat-dialog-title color="primary">{{data.id ? 'Edit' : 'New'}} category</h1>
      <form class="edit-category-form" (ngSubmit)="onSubmit()" [formGroup]="editCategoryForm">
        <div mat-dialog-content>
          <div class="container-fluid">
            <mat-form-field class="edit-category-data">
              <input matInput id="name-input" formControlName="name" type="text" placeholder="Name" />
              <mat-error *ngIf="formError && name.invalid && name.errors.required">
                Please enter the category name!
              </mat-error>
            </mat-form-field>
          </div>
          <div class="container-fluid">
            <mat-form-field class="edit-category-data">
              <mat-select placeholder="Visibility" formControlName="visibility">
                <mat-option *ngFor="let visibility of visibilities" [value]="visibility.value">
                  {{ visibility.label }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="container-fluid">
              <mat-form-field class="edit-category-data">
                  <input matInput id="description-input" formControlName="description" maxlength="255" placeholder="Description" #description>
                  <mat-hint align="end">{{description.value.length}} / 255</mat-hint>
                  <mat-error *ngIf="formError && description.invalid && name.description.maxlength">
                      Too many characters!
                  </mat-error>
                </mat-form-field>
          </div>
        </div>
        <div mat-dialog-actions class="float-right">
          <button mat-raised-button (click)="onNoClick()" type="button" tabindex="-1">Cancel</button>
          <button mat-raised-button [disabled]="buttonDisabled" color="primary" type="submit">Save</button>
        </div>
      </form>
    </div>
  </div>