<mat-card>
  <form #noteForm="ngForm" (ngSubmit)="save(noteForm)">

    <mat-card-title class="text-center">
      {{action}} Note
    </mat-card-title>

    <mat-card-content>
      <div class="form-group">
        <mat-form-field class="note-data">
          <input matInput type="text" placeholder="Title" required name="title" [(ngModel)]="note.title" #title="ngModel">
          <mat-error *ngIf="title.invalid && (title.dirty || title.touched) && title.errors.required">
            The title field is required!
          </mat-error>
        </mat-form-field>
      </div>

      <ckeditor name="content" [(ngModel)]="note.content" *ngIf="action !='Edit' || noteLoaded"></ckeditor>
    </mat-card-content>

    <mat-card-actions class="text-right">
      <button type="button" mat-raised-button (click)="back()">Cancel</button>
      <button type="submit" mat-raised-button color="primary" [disabled]="!noteForm.valid">Save</button>
    </mat-card-actions>
  </form>
</mat-card>