<div class="loading-shade" *ngIf="dataSource.isLoadingResults">
  <mat-spinner></mat-spinner>
</div>
<mat-table *ngIf="!dataSource.isLoadingResults" #table [dataSource]="dataSource" matSort matSortActive="created_at" matSortDisableClear
  matSortDirection="asc">

  <ng-container matColumnDef="title">
    <mat-header-cell *matHeaderCellDef>Title</mat-header-cell>
    <mat-cell *matCellDef="let row">{{ row.title }}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="ownerName">
    <mat-header-cell *matHeaderCellDef>Owner</mat-header-cell>
    <mat-cell *matCellDef="let row">{{ row.ownerName }}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="created_at">
    <mat-header-cell *matHeaderCellDef mat-sort-header disableClear="true">
      Created at
    </mat-header-cell>
    <mat-cell *matCellDef="let row">{{ row.createdAt | date }}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="updated_at">
    <mat-header-cell *matHeaderCellDef mat-sort-header disableClear="true">
      Updated at
    </mat-header-cell>
    <mat-cell *matCellDef="let row">{{ row.updatedAt | date }}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="actions">
    <mat-header-cell *matHeaderCellDef mat-sort-header disableClear="true">
      Actions
    </mat-header-cell>
    <mat-cell *matCellDef="let row">
      <mat-icon (click)="edit(row)" matTooltip="Edit" matTooltipPosition="above" *ngIf="authenticationService.isAuthenticated">edit</mat-icon>
      <mat-icon (click)="show(row)" matTooltip="Info" matTooltipPosition="above">fullscreen</mat-icon>
      <mat-icon (click)="delete(row)" matTooltip="Delete" matTooltipPosition="above" *ngIf="authenticationService.isAuthenticated">delete_outline</mat-icon>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>

<div class="floating-button-wrapper">
  <button mat-fab color="warn" matTooltip="New note" matTooltipPosition="above" (click)="new()" *ngIf="authenticationService.isAuthenticated">
    <mat-icon>add</mat-icon>
  </button>
</div>