/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html, body {
  width: 100vw;
  min-height: 100vh;
}

.fill-remaining-space {
  flex: 1 1 auto;
}

.notification-msg {
  min-width: 300px;
  color: white;
  font-weight: 600;
  border: 1px ;
  box-shadow: 2px 5px 5px 3px #888888;
}

.notification-success-msg {
  background-color: rgb(59, 192, 59);
}

.notification-error-msg {
  background-color: rgb(231, 75, 75);
}

.notification-warning-msg {
  background-color: rgb(252, 141, 67);
}

.loading-shade {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 56px;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.floating-button-wrapper{
  height: auto !important;
  position: fixed;
  bottom:10%;
  right:5%;
}

.floating-button-wrapper > button:focus {
  outline:0;
}

.mat-header-cell, .mat-cell {
  text-align: center;
}