[class*="login-dialog"] {
    width: 100%;
}

@media only screen and (min-width: 768px) {
    /* For desktop: */
    .login-dialog {width: 40vw;}
}

.login-data {
    width: 100%;
    margin: 5px 0px;
}