<div class="row">
    <div class="container view-note-dialog">
      <h1 mat-dialog-title class="text-center">{{selectedNote.title}}</h1>
      <div mat-dialog-content [innerHTML]="selectedNote.content">
      </div>
        <div mat-dialog-actions class="float-right">
          <button mat-raised-button (click)="previous()" color="primary" type="button">Previous</button>
          <button mat-raised-button (click)="close()" type="button">Close</button>
          <button mat-raised-button (click)="next()" color="primary" type="button">Next</button>
        </div>
    </div>
  </div>