<mat-sidenav-container class="fill-height-or-more">
  <mat-sidenav #sidebar [mode]="over" class="category-details">
    <mat-list>
      <mat-divider></mat-divider>
      <mat-list-item>
        <h4 mat-line class="category-detailed-name">Name</h4>
        <p mat-line> {{selectedUser?.first_name}} {{selectedUser?.last_name}} </p>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>
        <h6 mat-line class="category-detailed-description">E-mail</h6>
        <p mat-line> {{selectedUser?.email}} </p>
      </mat-list-item>
    </mat-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <div class="loading-shade" *ngIf="dataSource.isLoadingResults">
      <mat-spinner></mat-spinner>
    </div>
    <mat-table *ngIf="!dataSource.isLoadingResults" #table [dataSource]="dataSource">

      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
        <mat-cell *matCellDef="let row">{{ row.firstName }} {{row.lastName}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="username">
        <mat-header-cell *matHeaderCellDef>Username</mat-header-cell>
        <mat-cell *matCellDef="let row">{{ row.username }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="email">
        <mat-header-cell *matHeaderCellDef>E-mail</mat-header-cell>
        <mat-cell *matCellDef="let row">{{ row.email }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="created_at">
        <mat-header-cell *matHeaderCellDef mat-sort-header disableClear="true">
          Created at
        </mat-header-cell>
        <mat-cell *matCellDef="let row">{{ row.createdAt | date }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef mat-sort-header disableClear="true">
          Actions
        </mat-header-cell>
        <mat-cell *matCellDef="let row">
          <mat-icon (click)="edit(row)" matTooltip="Edit" matTooltipPosition="above" *ngIf="authenticationService.isAuthenticated">edit</mat-icon>
          <mat-icon (click)="showInfo(row)" matTooltip="Info" matTooltipPosition="above">info_outline</mat-icon>
          <mat-icon (click)="delete(row)" matTooltip="Delete" matTooltipPosition="above" *ngIf="authenticationService.isAuthenticated">delete_outline</mat-icon>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>

  </mat-sidenav-content>
</mat-sidenav-container>
