:host(app-category-list) {
    flex: 1;
}

:host(app-category-list) > * {
    height: 100%;
}

.category-details {
    width: 30vw;
}

.category-detailed-name, .category-detailed-description {
    text-align: center;
}