<mat-sidenav-container class="fill-height-or-more">
  <mat-sidenav #sidebar [mode]="over" class="category-details">
    <mat-list>
      <mat-divider></mat-divider>
      <mat-list-item>
        <h4 mat-line class="category-detailed-name">Name</h4>
        <p mat-line> {{selectedCategory?.name}} </p>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>
        <h6 mat-line class="category-detailed-description">Description</h6>
        <p mat-line> {{selectedCategory?.description}} </p>
      </mat-list-item>
    </mat-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <div class="loading-shade" *ngIf="dataSource.isLoadingResults">
      <mat-spinner></mat-spinner>
    </div>
    <mat-table *ngIf="!dataSource.isLoadingResults" #table [dataSource]="dataSource" matSort matSortActive="created_at" matSortDisableClear
      matSortDirection="asc">

      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
        <mat-cell *matCellDef="let row" [routerLink]="['/categories', row.id]">{{ row.name }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="visibility">
        <mat-header-cell *matHeaderCellDef>Visibility</mat-header-cell>
        <mat-cell *matCellDef="let row" [routerLink]="['/categories', row.id]">
          <mat-icon *ngIf="row.visibility !== 'PUBLIC'" matTooltip="Private" matTooltipPosition="above">lock_outline</mat-icon>
          <mat-icon *ngIf="row.visibility === 'PUBLIC'" matTooltip="Public" matTooltipPosition="above">lock_open</mat-icon>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="ownerName">
        <mat-header-cell *matHeaderCellDef>Owner</mat-header-cell>
        <mat-cell *matCellDef="let row" [routerLink]="['/categories', row.id]">{{ row.ownerName }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="created_at">
        <mat-header-cell *matHeaderCellDef mat-sort-header disableClear="true">
          Created at
        </mat-header-cell>
        <mat-cell *matCellDef="let row" [routerLink]="['/categories', row.id]">{{ row.createdAt | date }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="updated_at">
        <mat-header-cell *matHeaderCellDef mat-sort-header disableClear="true">
          Updated at
        </mat-header-cell>
        <mat-cell *matCellDef="let row" [routerLink]="['/categories', row.id]">{{ row.updatedAt | date }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef mat-sort-header disableClear="true">
          Actions
        </mat-header-cell>
        <mat-cell *matCellDef="let row">
          <mat-icon (click)="edit(row)" matTooltip="Edit" matTooltipPosition="above" *ngIf="authenticationService.isAuthenticated">edit</mat-icon>
          <mat-icon (click)="showInfo(row)" matTooltip="Info" matTooltipPosition="above">info_outline</mat-icon>
          <mat-icon (click)="delete(row)" matTooltip="Delete" matTooltipPosition="above" *ngIf="authenticationService.isAuthenticated">delete_outline</mat-icon>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>

    <div class="floating-button-wrapper">
      <button mat-fab color="warn" matTooltip="New Category" matTooltipPosition="above" (click)="new()" *ngIf="authenticationService.isAuthenticated">
        <mat-icon>add</mat-icon>
      </button>
    </div>

  </mat-sidenav-content>
</mat-sidenav-container>